body {
    background-color: white;
    color: rgb(241,192,45);
    font-family: Arial, Helvetica, sans-serif;

}
section {
    width: 520px;
    height: 230px;
    background-color: black;
    margin: 20px auto;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    vertical-align: top;
}
h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
}
iframe {
    border: 1px solid rgb(241,192,45);
    width: 150px;
    display: inline-block;
    vertical-align: top;
}
.menu {
    display: inline-block;
    vertical-align: top;
    color: white;
    padding: 0;
    margin: 0 10px;
    box-sizing: border-box;
}
.menu-items {
    list-style-type: none;
    color: white;
    font-size: 1.5em;
    margin: 0;
    font-style: italic;
    /*text-decoration: none;*/
}
.menu-items:visited {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}